
html{
	background-color: black;
	font-family: "Open Sans", sans-serif;
	color: white;
}

body {
    background-color: black;
}


h1{
	text-align: center;
    font-weight: bold;
}

h2{
	text-align: center;
}

h5 {
    text-align: center;
    color: white;
    border: 1px dotted;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    margin: 6px 0 6px;
}

p{
	color: white;
    text-indent: 4em;
}

[class="img-responsive"] {
    width: 95%;
    max-width: 330px;
    max-height: 330px;
}

[class="img"] {
    width: 95%;
    max-width: 330px;
    max-height: 330px;
}

.drawing {
	display: block;
	text-align:center;
	padding: 0 20px 20px 20px;
}

.drawing img {
	display: block;
	margin: 0 auto;
}

.drawing figcaption{
	font-size: 11px;
	text-align: center;
}

a {
	color:cyan;
}


[class*="container"] {
    padding: 1rem;
    color: #ffffff;
    background-color: #000000;
    text-align: center;
    margin: 1em auto 1em;
}
[class*="container-bis"] {
    padding: 1rem;
    color: white;
    background-color: #000000;
    text-align: left;
    border: 0;
	font-family: "Open Sans", sans-serif;
}
[class*="container-poem"] {
    padding: 1rem;
    color: #ffffff;
    background-color: #000000;
    text-align: center;
    margin: 1em auto 1em;
    max-width: 400px;
}

[class*="container-ter"] {
    padding: 1rem;
    color: #ffffff;
    background-color: #000000;
    text-align: left;
    margin: 1em auto 1em;
    max-width: 550px;
}
